<footer id="footer" class="foooter">
    <div class="container">
        <div class="footer_content">
            <div class="col_4">
                <h5>Покупателям</h5>
                <p><a style="color: #dddddd;" href="{% url 'about_us' %}">О нас</a></p>
                <p><a style="color: #dddddd;" href="{% url 'contacts' %}">Контакты</a>
                </p>
                <p><a style="color: #dddddd;" href="{% url 'sposob' %}">Способы оплаты</a>
                </p>
                <p><a style="color: #dddddd;" href="{% url 'vozvrat' %}">Возврат товара</a>
                </p>
                <p><a style="color: #dddddd;" href="{% url 'delivery' %}">Доставка и
                        самовывоз</a>
                </p>
            </div>
            <div class="col_4">
                <h5>Бизнес</h5>
                <p><a style="color:#dddddd;" href="{% url 'partner' %}">Корпоративным
                        клиентам</a>
                </p>
                <p><a style="color:#dddddd;" href="{% url 'suppliers' %}">Поставщикам</a>
                </p>
                <p><a style="color:#dddddd;"
                        href="{% url 'advertisers' %}">Рекламодателям</a>
                </p>
                <p><a style="color:#dddddd;" href="{% url 'investors' %}">Инвесторам</a>
                </p>
            </div>
            <div class="col_4">
                <h5>Мы в социальных сетях</h5>
                <a style="" target="_blank"
                    href="https://www.instagram.com/mahsy.galoshi.optom?r=nametag">
                    <p style="color:#dddddd;"><i class="fa-brands fa-instagram"></i> Instagram</p>
                </a>
                <a style=" " target="_blank"
                    href="https://wa.me/c/996559256662">
                    <p style="color:#dddddd;"><i class="fa-brands fa-whatsapp"></i> WhatsApp</p>
                </a>
                <a style=" " target="_blank"
                    href="https://www.tiktok.com/@mahsy.galoshi.optom?_t=8X1KTeFDWa1&_r=1">
                    <p style="color:#dddddd;"><i class="fa-brands fa-tiktok"></i> Tik Tok</p>
                </a>
            </div>
            <div class="col_4">
                <h5>Контактные данные</h5>
                <a target="_blank"
                    href="https://www.google.com/maps/place/40%C2%B042'27.0%22N+72%C2%B053'33.3%22E/@40.7074863,72.8903929,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0x316b99d0abcf3038!8m2!3d40.7074863!4d72.8925816?hl=ru">
                    <p style="color:#dddddd;">г. Кара-суу Туратали Базар, 2-Павильон, 501
                        место</p>
                </a>
                <a href="tel: +996 (559) 256 662">
                    <p style="color:#dddddd;">+996 (559) 256 662</p>
                </a>
                <a style="color:#dddddd;"
                    href="mailto: salamkarasu51@gmail.com">salamkarasu51@gmail.com</a>
            </div>
        </div>
    </div>
</footer>