.search-bar{
    width: 55% !important;
    margin-left: 10% !important;
}

.card-body1{
    background-image: url('https://natureconservancy-h.assetsadobe.com/is/image/content/dam/tnc/nature/en/photos/BlueRidgePrkwy.jpg?crop=0%2C231%2C4000%2C2200&wid=4000&hei=2200&scl=1.0');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.inp{
    width: 310px;
    height: 50px;
    border-radius: 180px;
    padding: 0 35px;
}

.but{
    background-color: transparent;
    border: 0px solid;
    margin-right: 35px;
    position: absolute;
    z-index: 10;
    right: 5px;
    top: 7px;
}

.shadow{
    padding: 10px;
}